/*-- scss:defaults --*/
// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Gotham&display=swap');

// fonts
$font-family-sans-serif: 'Gotham', 'Open Sans', Tahoma, sans-serif !default;

// headings
$presentation-heading-font: 'Gotham', 'Poppins',  Tahoma, sans-serif  !default;
$presentation-heading-color: #003262 !default;
$h1-font-size: 1.6em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;

//code
$code-color: #003262 !default;
$font-family-monospace: 'Inconsolata', monospace  !default;

// general  
$body-bg: #fff;
$body-color: #000000;
$link-color: #1486c8;
$presentation-font-size-root: 30px;

/*-- scss:rules --*/
.reveal pre code {
  background-color: #f8f8f8;
  font-size: 1em;
  padding: 0.5em;
  line-height: 1.2em;
}


.subtitle, .author {
  color: $presentation-heading-color;
  font-size: $h2-font-size;
}

.reveal .panel-tabset [role=tab] {
    font-size: 0.8em;
}

